* {
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .card {
    margin-right: 30px;
  }
}
@media screen and (max-width: 500px) {
  .card {
    margin-right: 50px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    padding-right: 20px;
  }
}
@media screen and (max-width: 340px) {
  .card {
    padding-right: 20px;
  }
}
